<div [style.backgroundImage]="'url(../../../../assets/imgs/'+city.weatherMain+'Back.jpg)'" class="city" #refCity (click)="expandForecastCity(refCity)" id="{{city.id}}">
  <div class="temperature">
      <div class="row city-header">
          <div class="col-md-3 city-temp">
            <h2>{{city.cityName}}, {{city.countryCode | titlecase }}</h2>
            <h3>{{city.weatherMain}}  <span> <app-weather-icon [weatherIcon]="city.weatherMain"></app-weather-icon></span></h3>
          </div>
          <div class="col-md-3 city-wind">
            <h2>WIND</h2>
            <h3 >{{city.windSpeed}} Km/h</h3>
          </div>
      </div>
      <div class="city-body row">
          <div class="temperature col-md-3">
            <span>{{approximateNumber(city.temp)}}</span>
            <span>°C</span>
          </div>
          <div class="wind col-md-3">
            <div class="windmill">
              <div [style.animation-duration]="getSpeedWindmill(city.windSpeed)" class="blade">
              </div>
              <div class="pole">
              </div>
            </div>
          </div>
      </div>
  </div>
  <div *ngIf="isMenuOpened" class="forecast">
    <div class="forecast-header">
      <h4>Forecast</h4>
    </div>
    <div class="forecast-body">
      <app-forecast-item [listForecasts]="listForecasts"></app-forecast-item>
    </div>
  </div>
</div>
