@import "../../../../styles/styles.scss";

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.city {
   background-position: center;
  background-size: cover;
  font-family: 'Helvetica Neue';
  background-color: rgba(0,0,0,0.54);
  font-weight: bold;
  .city-header {
    .city-temp.col-md-3 h2, h3, .city-wind.col-md-3 h2, h3 {
      font-weight: bold;
    }
  }
  .city-body{
     font-size: 62px;
  }
  .windmill {
    .blade {
      background-size: cover;
      background-image: url('src/assets/imgs/Blade.png');
      height:60px;
      width:60px;
      animation-duration: 2.25s;
      animation-name: spin;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
    .pole {
      background-size: cover;
      background-image: url('src/assets/imgs/BigPole.png');
      height:65px;
      width:9px;
      position: relative;
      left: 24px;
      bottom: 24px;
    }
  }
  .temperature {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .forecast-header h4 {
    font-weight: bold;
    margin-left: 10px;
  }
}
