// This is the scss file for all the reusables elements styles

//Fonts definitions

@font-face {
	font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), url("src/assets/fonts/HelveticaNeue.ttf");
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), url("src/assets/fonts/HelveticaNeueLight.ttf");
    font-weight: bold;
    font-style: bold;
}
