
<main>
    <div class="app-root">
      <div class="container">
        <h1>WEATHER APP</h1>
        <app-list-cities (getForecastWeather)="getForecastWeather($event)" [listCities]="cities"></app-list-cities>
      </div>
    </div>
</main>


