<div class="forecast-item">
  <ul>
      <li class="forecast-item-header" *ngFor="let forecast of listForecasts">
        <span class="forecast-hour">
          {{convertDateFormat(forecast.date)}}
        </span>
        <span>
          <img *ngIf="isDayTime(forecast.date)" src="../../../../assets/imgs/{{forecast.weatherMain}}.png">
          <img *ngIf="!isDayTime(forecast.date)" src="../../../../assets/imgs/{{forecast.weatherMain}}Night.png">
          <span>
            {{approximateNumber(forecast.temp) }}°
          </span>
        </span>
      </li>
    </ul>
</div>
