.forecast-item {
  .forecast-item-header{
    .forecast-hour{
      font-size: 10px;
      justify-content: center;
    }
  }
  ul {
  display: flex;
  overflow: auto;
  }
  li{
    list-style: none;
    flex: 0 0 8%;
    display: block;
    text-align: center;
    span {
      font-size: 12px;
      img{
        display:block;
        height: 28px;
        width: 28px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .forecast-body ul{
    display: flex;
  }

}


